.pageHeader {
  position: fixed;
}

.pageBody {
  margin-top: 50px;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.mainHeader {
  font-size: 50px;
}

.mainHeaderColor {
  color: #DDA77B;
}

.gistPara {
  margin-top: 30px;
  font-size: 17px;
  width: 500px;
}

.monkey {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.statsContainer {
  margin-top: 30px;
  display:flex;
  width: 450px;
  justify-content: space-between;
}
