.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: grey;
  height: 10vmin;
}

.collegeGenius {
  margin-top: 13%;
  margin-left: 50%;
  font-weight: 900;
  font-size: 30px;
}

.pageLinksContainer {
  display:flex;
  margin-top: 2%;
  margin-right: 10%;
  justify-content: center;
}

.pageLink {
  font-size: 20px;
  font-weight: 900;
  margin-left: 150px;
}