/** elements **/

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
}

.logoSection {
  display: flex;
  gap: 12px;
}

.logo {
  width: auto;
  height: 40px;
  vertical-align: middle;
  object-fit: contain;
}

.siteName {
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.linkContainer {
  display: flex;
  gap: 148px;
  font-size: 20px;
}

.link {
  text-decoration: none;
  color: black;
}

/**  Hovering Tools  **/

.siteName:hover {
  color:red;
}

.link:hover {
  color: red;
}