/** elements **/

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 10px 50px;
  background-color: white;
}

.logoSection {
  display: flex;
  gap: 12px;
}

.logo {
  width: auto;
  height: 40px;
  vertical-align: middle;
  object-fit: contain;
}

.siteName {
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.linkContainer {
  display: flex;
  align-items: center;
  gap: 148px;
  font-size: 20px;
  height: 50px;
  width: 50%;
}

.link {
  text-decoration: none;
  color: black;
}

/**  Hovering Tools  **/

.siteName:hover {
  color:red;
}

.link:hover {
  color: red;
}

/** Active Tools **/

.active {
  border: 4px solid purple;
  padding: 5px 50px
}